.centered
  %h1 Backward Inc.
  %p My fourite book is.

  %h2 "Hackers" by Steven Levy

  %p I particularly like pages 152, 192 and 399.

  %p Keep being Evil... Dr Evil.

  %form{:method => 'post', :action => '/onceuponatime'}
    %input{:name => 'password', :placeholder => "password..."}
    %input{:type => 'submit', :value => 'Continue'}