%h1 Dr. Evil's Secret Notes
%h3 Because even though he's super clever he can't remember everything 
%ol
  %li
    First work out the answer to the sum using a calculator like this one
    %a{ href: "http://www.online-calculator.com/simple-calculator/", target: "_blank" }
      here
  %li
    Then convert the answer to a special code called binary using a converter like this on
    %a{ href: "http://easycalculation.com/decimal-converter.php", target: "_blank" }
      here
  %li
    Then put the answer in the page that you just came from
    %a{ href: "/0110", target: "_blank" }
      here

:javascript
  $(document).ready(function(){
    alert("If you aren't Dr. Evil then leave right now!!!");
  })