%h1
  HOW TO DISARM THE BOMB
%p
  Obviously we don't want anyone disarming the bomb other than Dr. Evil himself. It would be incredibly inconvenient if someone tried to be a hero and "save the world".
%p Fortunately, there is so much security surrounding this page that no one other than Dr. Evil could ever get  here.
%h3 INSTRUCTIONS
%ol
  %li
    Open up a "Javascript Console" using the instructions 
    %a{ href: "http://webmasters.stackexchange.com/questions/8525/how-to-open-the-javascript-console-in-different-browsers", _target: "blank"}
      here.
    Don't be afraid to ask for help.
  %li
    Type the first command into the console and follow the instructions. The command is obvious.

:javascript

  var obvious = "You are now logged in as user drevil. \n First question - is this really you?"
  var yes = Yes = "OK, that's cool, let's carry on. Now I have to ask you some more questions. \n What is the capital of France?";
  var no = No = "ALERT ALERT ALERT SHUT DOWN RELOAD THIS PAGE TO TRY AGAIN.";

  var paris = Paris = "Correct. \n Please now enter the level 2 password. It is veryveryveryverysecure";

  var veryveryveryverysecure = "Thank you. Please now decode this Caesar Cypher with shift value 9: \n NERUADUNB"

  var EVILRULES = evilrules = "Thank you. THIS IS HOW TO DISARM THE BOMB: \n Solve the puzzle 8*16 and write the answer in binary code. THEN THE WORLD WILL BE SAVED."




