.centered
  %h1 Backward Inc.
  %p My plan is coming together now.
  %p Here's a totally innocent picture of myself.

  %p
    %img{:src => "/dr-evil-hidden.jpg", :title => 'Could it be that I am more than just an image...?'}

  %p There's more to me than meets the eye...