!!!5
%html
  %head
    %title Backward Inc
    %link{:rel=>"stylesheet", :href=>"http://css.cdn.tl/normalize.css"}
    %script{:type =>'text/javascript', :src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/iphone_style_checkboxes.js'}
    %link{:rel => "stylesheet", :href => '/css/iphone_style_checkboxes.css'}
    %style{:type=>'text/css'}
      :sass
        html
          *
            font-family: monospace
            color: #75ff75
          font-size: 120%
          background: #111
          input, textarea
            background: #222
        fieldset, input, textarea
          border: 1px solid #75ff75
        #wrapper 
          border: 1px solid #444
          background: rgba(0,0,0,.7)
          width: 50%
          margin: 50px auto
          padding: 20px
          min-width: 320px
        .input
          margin: 20px 0
          label
            display: inline-block
            width: 200px
        .centered
          text-align: center
          margin: auto
        .pull-left
          float: left
        .pull-right
          float: right
        #errormessage
          display: none
          font-size: 1.5em
          color: #ff2e2e
        form.error
          *
            color: #ff2e2e
            border-color: #ff2e2e
          #errormessage
            display: block
          .input
            display: none
  %body
    #wrapper{:style=>'z-index:50;position:relative'}
      =yield
    #userinfo{:style=>'text-align:center;'}
      User #123 - IP 123.123.87.12
    %pre#sourcecode{:style=>'position:absolute; height:100%; width:100%;top:0px; left:0px; opacity:0.6; z-index:40; font-size:.9em;'}


