.centered
  %h1 Backward Inc.
  %p
    Please log in below:

%form#login{:method=>'post'}
  %fieldset
    %legend &nbsp;&lt;secure login form /&gt;&nbsp;
    #errormessage.centered invalid email or password
    .input
      %label{:for => "username"} username:
      %input{:id=>'username', :value => "DrEvil"}
    .input
      %label{:for => "password"} password:
      %input{:id=>'password', :type=>'password', :name => 'password'}
    .input
      %label &nbsp;
      %input{:type=>'submit', 'value'=>'log in'}


:javascript
  $(function(){
    $('#login').on('submit', function(){

      // Form input values
      var USERNAME = $('#username').val();
      var PASSWORD = $('#password').val();

      // Function that reverses the order or the characters to confuse intruders!!!
      function turn_backwards(password){
        return password.split("").reverse().join("");
      }

      // Passowrd check
      if(USERNAME == 'DrEvil' &&  PASSWORD == turn_backwards('tseBehTsIlivE')){
        return true;
      }
      
      else {
        var loginForm = $(this).addClass('error');
        setTimeout(function(){ loginForm.removeClass('error'); }, 1000);
        return false;
      }
    });

    // Display source code of the page
    $('#sourcecode').teletype({ animDelay: 20, text: "<html>\n"+document.getElementsByTagName('html')[0].innerHTML});
  });